<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>标签新增</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body>
<!--导航-->
<nav th:replace="admin/_fragments :: menu(3)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">管理后台</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>文章</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
            <div class="right m-item m-mobile-hide menu">
                <div class="ui dropdown item">
                    <div class="text">
                        <img src="https://picsum.photos/id/27/100/100" alt="" class="ui avatar image">
                        梁松
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item">退出登录</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="m-item ui menu toggle icon basic button m-right-top1 m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>
<div class="ui attached pointing  menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" th:href="@{/admin/tags/input}" class="active item">新增</a>
            <a href="#" th:href="@{/admin/tags}" class="teal item">列表</a>
        </div>
    </div>
</div>

<!--中间内容-->
<div class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <form action="#" method="post" th:object="${tag}" th:action="*{id} == null ? @{/admin/tags} : @{/admin/tags/{id}(id=*{id})}" class="ui form">
            <input type="hidden" name="id" th:value="*{id}">
            <div class="required field">
                <div class="ui left labeled input">
                    <label class="ui teal basic label">名称</label>
                    <input tag="text" name="name" placeholder="标签名称" th:value="*{name}">
                </div>
            </div>

            <div class="ui error message"></div>



<!--/*/
        <div class="ui negative message" th:if="${#fields.hasErrors('name')}">
         <i class="close icon"></i>
         <div class="header">验证失败！</div>
         <p th:errors="*{name}">提交信息不符合规则</p>
     </div>
   /*/-->

            <div class="ui right aligned container">
                <button tag="button" class="ui button" onclick="window.history.go(-1)">返回</button>
                <button class="ui teal submit button">提交</button>
            </div>

        </form>
    </div>
</div>
<br>
<br>
<!--底部-->
<footer th:replace="admin/_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../../static/images/wechat.jpg" class="ui rounded image" alt="" style="width: 110px">
                    </div>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="m-text-thin m-text-spaced">我的博客</h4>
                <div class="ui inverted link list">
                    <a href="https://nedlee329.github.io/" class="item">GitHub：nedlee329.github.io/</a>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="m-text-thin m-text-spaced">我的邮箱</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item m-text-thin m-text-spaced m-opacity-mini">873383099@qq.com</a>
                </div>
            </div>
            <div class="five wide column">
                <h4 class="m-text-thin m-text-spaced">财富寄语：</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">每个人最大的一笔财富，就是他自己！</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright @2016 - 2020 Liang Song Designed by Liang Song</p>
    </div>
    </div>
</footer>


<!--/*/<th:block th:replace="admin/_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
<script>

    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide')
    });

    $('.ui.dropdown').dropdown();

    $('.ui.form').form({
        fields : {
            title : {
                identifier : 'name',
                rules : [{
                    type : 'empty',
                    prompt : '请输入标签名称！'
                }]
            }
        }
    });


</script>
<!-- 引入样式 -->

<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
</body>
</html>
